onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
